book {
    display: block;
    margin: 5% 15%;
    font-family: sans-serif;
}

book::before {
    display: block;
    content: attr(name);
    font-size: 300%;
    padding: 1ex 0;
}

book::after {
    display: block;
    content: '';
    padding: 4ex 0;
}

chapter {
    display: block;
}

chapter::before {
    display: block;
    content: "Chapter " attr(num);
    font-size: 200%;
    padding: 1ex 0;
}

verse {
    display: block;
    padding: 1ex 0;
    position: relative;
}

verse::before {
    display: inline-block;
    content: attr(num);
    font-size: 150%;
    font-weight: bold;
    color: maroon;
}

word {
    display: inline-block;
    padding: 1ex 2ex;
}

word * {
    display: block;
}

strongs {
    font-size: 75%;
}

strongs, strongs a:link, strongs a:visited {
    color: midnightblue;
    text-decoration: none;
}

pos {
    font-size: 75%;
    color: grey;
}

parse {
    visibility: hidden;
    position: absolute;
    margin-top: -2.5lh;
    z-index: 1;

    border: 1px solid black;
    padding: 1px 4px;
    background: lightyellow;

    font-size: 75%;
}

pos:hover + parse, parse:hover {
    visibility: visible;
}

transliteration {
    color: steelblue;
}

hebrew, greek {
    font-family: serif;
    font-size: 200%;
}

english {
    color: crimson;
}
