book {
    display: block;
    margin: 5% 10%;
    font-family: sans-serif;
}

book::before {
    display: block;
    content: attr(name);
    font-size: 300%;
    padding: 1ex 0;
}

book::after {
    display: block;
    content: '';
    padding: 4ex 0;
}

chapter {
    display: block;
}

chapter::before {
    display: block;
    content: "Chapter " attr(num);
    font-size: 200%;
    padding: 1ex 0;
}

book[testament="old"] verse {
    direction: rtl;
}

book[testament="new"] verse {
    direction: ltr;  /* This is the default. */
}

verse {
    display: block;
    padding: 1ex 0;
    position: relative;
}

verse:target {
    box-shadow: 0 0 0.5ex 0.5ex lightblue;
}

book[testament="old"] {
    margin-right: 30ex;
}

book[testament="old"] preview {
    right: -30ex;
}

book[testament="new"] {
    margin-left: 30ex;
}

book[testament="new"] preview {
    left: -30ex;
}

preview {
    direction: ltr;
    display: block;
    position: absolute;
    top: 3lh;
    width: 28ex;
    padding: 2ex;
    font-size: 80%;
}

preview > * {
    display: block;
    opacity: 0.33;  /* Preview is experimental, so make it very faint. */
}

verse::before {
    display: inline-block;
    content: attr(num);
    font-size: 150%;
    font-weight: bold;
    color: maroon;

    position: absolute;
    left: -3ex;
    right: -3ex;
}

word {
    display: inline-block;
    padding: 1ex 2ex;
}

word:target {
    box-shadow: 0 0 0.5ex 0.5ex lightblue;
}

word > * {
    display: block;
}

strongs {
    font-size: 75%;
    position: relative;
}

strongs, strongs a, strongs a:link, strongs a:visited {
    color: midnightblue;
    text-decoration: none;
}

pos {
    font-size: 75%;
    color: grey;
}

parse, strongs-definition, english-definition, chinese-definition {
    direction: ltr;
    visibility: hidden;
    position: absolute;
    z-index: 1;

    border: 1px solid black;
    padding: 1px 4px;
    background: lightyellow;
    max-width: 100ex;

    font-size: 75%;
}

strongs-definition {
    margin-top: -2.5lh;
}

strongs:hover + strongs-definition, strongs-definition:hover {
    visibility: visible;
}

parse {
    margin-top: -2.5lh;
}

pos:hover + parse, parse:hover {
    visibility: visible;
}

transliteration {
    color: steelblue;
}

hebrew, greek {
    font-family: serif;
    font-size: 200%;
}

english {
    color: crimson;
}

english-definition {
    margin-top: -2.75lh;
}

english:hover + english-definition, english-definition:hover {
    visibility: visible;
}

chinese-definition {
    margin-top: -3.5lh;
}

chinese:hover + chinese-definition, chinese-definition:hover {
    visibility: visible;
}

chinese {
    color: darkgreen;
}

chinese[unaudited] {
    background: repeating-linear-gradient(
        -45deg,
        ivory,
        palegreen 0.5ex,
        palegreen 0.5ex,
        white 1ex
    );
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    margin: 0 -10vw;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    padding: 0.5lh 10vw;

    border: 1px solid lightgrey;
}

book[testament="old"] nav {
    margin-right: -30ex;
    padding-right: 30ex;
}

book[testament="new"] nav {
    margin-left: -30ex;
    padding-left: 30ex;
}

nav form {
    display: inline-block;
    margin: 0 2ex;
}

nav a {
    display: inline-block;

    width: 1.5lh;
    height: 1.5lh;
    text-align: center;

    font-size: 200%;
    vertical-align: middle;
    background: white;

    text-decoration: none;
    user-select: none;
}

nav a:not([href]) {
    color: lightgrey;
    background: linear-gradient(
        to left top,
        transparent 47.75%,
        currentColor 49.5%,
        currentColor 50.5%,
        transparent 52.25%);
}

nav a:link, nav a:visited {
    color: lightblue;
}

nav a[href]:hover {
    border-color: lightblue;
    box-shadow: 0 0 2px 2px lightblue;
}

nav .home {
    border: 2px solid lightgrey;
    margin-right: 1ex;
}

nav > a {
    padding: 0.25ex 0.125ex 0 0.125ex;
    border: 2px solid lightgrey;
    border-radius: 2ex;
}
