book {
    display: block;
    margin: 5% 15%;
    font-family: sans-serif;
}

book::before {
    display: block;
    content: attr(name);
    font-size: 300%;
    padding: 1ex 0;
}

book::after {
    display: block;
    content: '';
    padding: 4ex 0;
}

chapter {
    display: block;
}

chapter::before {
    display: block;
    content: "Chapter " attr(num);
    font-size: 200%;
    padding: 1ex 0;
}

verse {
    display: block;
    padding: 1ex 0;
    position: relative;
}

book[testament="old"] verse {
    direction: rtl;
}

book[testament="new"] verse {
    direction: ltr;  /* This is the default. */
}

verse::before {
    display: inline-block;
    content: attr(num);
    font-size: 150%;
    font-weight: bold;
    color: maroon;

    position: absolute;
    left: -3ex;
    right: -3ex;
}

word {
    display: inline-block;
    padding: 1ex 2ex;
}

word * {
    display: block;
}

strongs {
    font-size: 75%;
    position: relative;
}

strongs, strongs a, strongs a:link, strongs a:visited {
    color: midnightblue;
    text-decoration: none;
}

pos {
    font-size: 75%;
    color: grey;
}

parse, strongs-definition, english-definition, chinese-definition {
    visibility: hidden;
    position: absolute;
    z-index: 1;

    border: 1px solid black;
    padding: 1px 4px;
    background: lightyellow;
    max-width: 100ex;

    font-size: 75%;
}

strongs-definition {
    margin-top: -2.5lh;
}

strongs:hover + strongs-definition, strongs-definition:hover {
    visibility: visible;
}

parse {
    margin-top: -2.5lh;
}

pos:hover + parse, parse:hover {
    visibility: visible;
}

transliteration {
    color: steelblue;
}

hebrew, greek {
    font-family: serif;
    font-size: 200%;
}

english {
    color: crimson;
}

english-definition {
    margin-top: -2.75lh;
}

english:hover + english-definition, english-definition:hover {
    visibility: visible;
}

chinese-definition {
    margin-top: -3.5lh;
}

chinese:hover + chinese-definition, chinese-definition:hover {
    visibility: visible;
}

chinese {
    color: darkgreen;
}

chinese[unaudited] {
    background: repeating-linear-gradient(
        -45deg,
        ivory,
        palegreen 0.5ex,
        palegreen 0.5ex,
        white 1ex
    );
}

nav .home {
    font-size: 200%;
    border: 4px solid lightgrey;
    padding: 0.5ex;
    margin-right: 0.5ex;
}
